<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!--Kết nối cở sở dữ liệu-->

	<!--ThanhThien-->
	
	<!--<connectionStrings>
  <add name="ShopLinhKienDienTu" connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=123" />
  <add name="GUI.Properties.Settings.QL_LINHKIENDIENTU" connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=123" />
 </connectionStrings>-->

	<!--NgocThien-->
	
	<connectionStrings>
  <add name="ShopLinhKienDienTu" connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=sa123" />
  <add name="GUI.Properties.Settings.QL_LINHKIENDIENTU02" connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=sa123" />
 </connectionStrings>

 <userSettings>
  <GUI.Properties.Settings>
   <setting name="taikhoan" serializeAs="String">
    <value />
   </setting>
   <setting name="mạtkhau" serializeAs="String">
    <value />
   </setting>
   <setting name="isSave" serializeAs="String">
    <value>False</value>
   </setting>
  </GUI.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuScrollBar" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuFormDock" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
