<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<!--Kết nối cở sở dữ liệu-->

	<!--ThanhThien-->
	
	<connectionStrings>
  <add name="ShopLinhKienDienTu" connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=123" />
  <add name="GUI.Properties.Settings.QL_LINHKIENDIENTU" connectionString="Data Source=DESKTOP-DA92CAH\SQLEXPRESS01;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=123" />
 </connectionStrings>

	<!--NgocThien-->
	
	<!--<connectionStrings>
  <add name="ShopLinhKienDienTu" connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=sa123" />
  <add name="GUI.Properties.Settings.QL_LINHKIENDIENTU02" connectionString="Data Source=LAPTOP-ED5PBNKM;Initial Catalog=QL_LINHKIENDIENTU;Persist Security Info=True;User ID=sa;Password=sa123" />
 </connectionStrings>-->

 <userSettings>
  <GUI.Properties.Settings>
   <setting name="taikhoan" serializeAs="String">
    <value />
   </setting>
   <setting name="mạtkhau" serializeAs="String">
    <value />
   </setting>
   <setting name="isSave" serializeAs="String">
    <value>False</value>
   </setting>
  </GUI.Properties.Settings>
 </userSettings>
</configuration>
